tool/software/zulu_jdks/zulu11.62.17-ca-jdk11.0.18-linux_x64/lib/modules
tool/software/zulu_jdks/zulu13.54.17-ca-jdk13.0.14-linux_x64/lib/modules
tool/software/zulu_jdks/zulu15.46.17-ca-jdk15.0.10-linux_x64/lib/modules
tool/software/zulu_jdks/zulu17.40.19-ca-jdk17.0.6-linux_x64/lib/modules
tool/software/zulu_jdks/zulu18.32.13-ca-jdk18.0.2.1-linux_x64/lib/modules
tool/software/zulu_jdks/zulu19.32.13-ca-jdk19.0.2-linux_x64/lib/modules
tool/software/zulu_jdks/zulu21.32.17-ca-jdk21.0.2-linux_x64/lib/modules
